## Perguntas

- 1. Rafaça o código de treinamento da aula 19: “Linear Regression - Prática” no seu computador usando o Jupyter Notebook ou o Google Colabs e compute o R2, o MSE e o RMSE
- 2. Qual o problema principal de usar a métrica MSE? Escreve um exemplo hipotético, no qual o problema acontece.
- 3. Explique com um pequeno texto ilustrando o benefício de usar a métrica RMSE.
- 4. Modifique 5% das linhas de algumas colunas, adicionando outliers e refaça as métricas de R2, MSE e RMSE. 
- 5. Faça a seguinte bateria de testes
  - 5.1 Refaça o exercícios 4 com as seguintes quantidade de outliers: 2%, 5%, 10%, 20% e 30%.
  - 5.2 Crie um tabela de comparação entre os resultados das 3 métricas ( r2, MSE e RMSE ) para cada uma das proporções de outliers ( 2%, 5%, 10%, 20% e 30% ) e responda as seguintes perguntas:
    - 5.2.1.  Como as métricas R2, MSE e RMSE se comportam com a variação outliers no conjunto de dados?
    - 5.2.2.  Observando as respostas anteriores, quais são as ações que aumentam ou diminuem as métricas de “R2”, “MSE” ou “RMSE” de um problema de negócio?
  - 5.3 Escreva um artigo para blog da Comunidade DS, descrevendo o seu aprendizado em relação ao comportamento das métricas, a partir dos seus experimentos com outliers presente nos dados.

- 1. Rafaça o código de treinamento da aula 19: “Linear Regression - Prática” no seu computador usando o Jupyter Notebook ou o Google Colabs e compute o R2, o MSE e o RMSE

In [3]:
# Importação das bibliotecas 

import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression
from sklearn import metrics as mt
import seaborn as sns
import matplotlib.pyplot as plt

In [4]:
# Importação dos dados

path = "/home/bruno/repos/Fundamentos_ML/data/train.csv"
df = pd.read_csv(path, low_memory=False)
df.head()

,id_cliente,idade,saldo_atual,divida_atual,renda_anual,valor_em_investimentos,taxa_utilizacao_credito,num_emprestimos,num_contas_bancarias,num_cartoes_credito,dias_atraso_dt_venc,num_pgtos_atrasados,num_consultas_credito,taxa_juros,investe_exterior,pessoa_polit_exp,limite_adicional
0,1767,21,278.172008,2577.05,24196.89636,104.306544,31.038763,6,5,7,21,14,9,15,Não,Não,Negar
1,11920,40,268.874152,2465.39,19227.37796,69.858778,36.917093,5,8,5,40,23,10,18,Não,Não,Negar
2,8910,36,446.643127,1055.29,42822.28223,134.201478,34.561714,0,3,6,26,13,3,15,Sim,Não,Negar
3,4964,58,321.141267,703.05,51786.82600,297.350067,31.493561,0,3,7,12,7,2,1,Sim,Não,Negar
4,10100,35,428.716114,891.29,44626.85346,134.201478,28.028887,2,8,7,24,10,8,20,Sim,Não,Negar

In [5]:
# Seleção de Features 

features = ['idade', 'divida_atual', 'renda_anual', 'valor_em_investimentos',  
            'taxa_utilizacao_credito', 'num_emprestimos', 'num_contas_bancarias', 'num_cartoes_credito',  
            'dias_atraso_dt_venc', 'num_pgtos_atrasados', 'num_consultas_credito', 'taxa_juros']

# Variável alvo 
label = ['saldo_atual']

In [6]:
# Dados de treinamento e teste 

x_train = df.loc[:, features] 
y_train = df.loc[:, label]

In [7]:
# Treinamento do algoritmo 

lr_model = LinearRegression() 
lr_model.fit( x_train, y_train )

LinearRegression()

In [8]:
# Previsão do algoritmo 

y_pred = lr_model.predict( x_train )

In [9]:
# Resultado final em um dataframe derivado

df1 = df.loc[:, ['id_cliente', 'saldo_atual']] 
df1['predicted'] = y_pred 
df1.head()

   id_cliente  saldo_atual   predicted
0        1767   278.172008  346.669549
1       11920   268.874152  367.840277
2        8910   446.643127  431.468979
3        4964   321.141267  445.506463
4       10100   428.716114  378.271169

In [10]:
# Criando um função para mostrar as principais métricas

def regression_metrics(y_train, y_pred, outlier):
    r2 = mt.r2_score(y_train, y_pred)
    mse = mt.mean_squared_error(y_train, y_pred)
    rmse = np.sqrt(mse)
    
    metrics = pd.DataFrame({'outliers': [outlier], 'r2': [r2], 'mse': [mse], 'rmse': [rmse]})
        
    return metrics

- 2. Qual o problema principal de usar a métrica MSE? Escreve um exemplo hipotético, no qual o problema acontece.

> A métrica MSE (_Mean Squared Error_) tem dois problemas principais em seu uso:
> 1. Como os erros são elevados ao quadrado para remover o efeito dos sinais, os outliers acabam também sendo elevados ao quadrado e, portanto, seu efeito é quadrático sobre o erro e a média
> 2. Além disso, o erro médio está em escala quadrática em relação aos dados, já que está elevado ao quadrado, de modo que acaba ficando difícil comparar o valor do erro médio com os dados

- 3. Explique com um pequeno texto ilustrando o benefício de usar a métrica RMSE.

> O RMSE é o MSE re-escalonado para a escala dos dados através da extração de sua raiz quadrada

- 4. Modifique 5% das linhas de algumas colunas, adicionando outliers e refaça as métricas de R2, MSE e RMSE.

In [16]:
# Determiando o percentual, as variáveis e o peso dos outliers

percentual = 0.05
features = ['idade', 'divida_atual', 'renda_anual']
peso = 10

In [17]:
# Copiando o conjunto de dados de treinamento

x_train2 = x_train.copy()

In [19]:
# Criando a variável 'random_index' pra sortear um número de índices baseado em 'perceual'

random_index = np.random.randint(1, x_train2.shape[0], int(x_train2.shape[0]*percentual))

In [21]:
# Pedindo uma descrição dos dados de treino modificados

np.round(x_train2[features].describe().T)

,count,mean,std,min,25%,50%,75%,max
idade,9500.0,126.0,685.0,18.0,28.0,38.0,47.0,8598.0
divida_atual,9500.0,1437.0,1156.0,0.0,574.0,1176.0,1963.0,4998.0
renda_anual,9500.0,195037.0,1454274.0,10474.0,26208.0,45991.0,80450.0,23279658.0

In [23]:
# Selecionando os índices sorteados e multiplicando-os pelo 'peso'

x_train2.loc[random_index, features] = x_train2.loc[random_index, features]*peso

In [25]:
# Redescrevendo os dados após fazer as modificações

np.round(x_train2[features].describe().T)

,count,mean,std,min,25%,50%,75%,max
idade,9500.0,654.0,13395.0,18.0,29.0,39.0,49.0,7.444000e+05
divida_atual,9500.0,8537.0,40444.0,0.0,605.0,1233.0,2241.0,4.944580e+05
renda_anual,9500.0,1435256.0,40354230.0,10474.0,26803.0,48554.0,88627.0,2.310824e+09

Uma vez que fizemos um segundo df (x_train2) com 5% de ouliers, podemos retreinar o modelo

In [35]:
# Criando uma função para generalizar o que fizemos anterormente e sortear quantidades diferentes de outliers sempre com a mesma seed

def random_outliers( df, percentual, features, peso, seed):
    np.random.seed(seed)
    random_index = np.random.randint(1, df.shape[0], int(df.shape[0]*percentual))
    df.loc[random_index,features] = df.loc[random_index,features]*peso
    
    return df

In [ ]:
# Copiando novamente o conjunto de dados

x_train3 = x_train.copy()

In [36]:
# Definindo o percentual de outliers, as features, o peso de cada outliers e a seed para facilitar a replicação

percentual = 0.05
features = ['idade', 'divida_atual', 'renda_anual']
peso = 10
seed = 25

In [37]:
# Aplicando a função de geração de outliers que criamos

x_train3 = random_outliers( x_train3, percentual, features, peso, seed)

In [38]:
# Usando o modelo que definimos na variável 'lr_model' para prever valores de y com os dados gerados com outliers

y_pred3 = lr_model.predict( x_train3 )

In [41]:
# Calculando as métricas de regressão com percentual de outliers de 5% e peso de 10x

reg_met_005 = regression_metrics(y_train, y_pred3, percentual)
reg_met_005

   outliers         r2           mse         rmse
0      0.05 -47.196817  2.283897e+06  1511.256611

- 5.1 Refaça o exercícios 4 com as seguintes quantidade de outliers: 2%, 5%, 10%, 20% e 30%.

- 5.2 Crie um tabela de comparação entre os resultados das 3 métricas ( r2, MSE e RMSE ) para cada uma das proporções de outliers ( 2%, 5%, 10%, 20% e 30% ) e responda as seguintes perguntas:

- 5.2.1.  Como as métricas R2, MSE e RMSE se comportam com a variação outliers no conjunto de dados?

- 5.2.2.  Observando as respostas anteriores, quais são as ações que aumentam ou diminuem as métricas de “R2”, “MSE” ou “RMSE” de um problema de negócio?

In [15]:
print('hello world')

hello world

- 5.3 Escreva um artigo para blog da Comunidade DS, descrevendo o seu aprendizado em relação ao comportamento das métricas, a partir dos seus experimentos com outliers presente nos dados.